.git
.github
.tempest
.tempest-extension
.artifacts
artifacts
coverage
test-output
release
node_modules
**/node_modules
**/dist
*.zip
*.log
*.pfx
*.p12
*.pem
*.key
*.crt
*.cer
*.db
*.sqlite
*.sqlite3
.env
.env.*
!.env.example
